
body {
  margin: 0;
  font-family: monospace;
  background-color: #0d0d0d;
  color: #00ffcc;
}
#app {
  padding: 20px;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  background: #111;
  border: none;
  color: #0f0;
  font-size: 16px;
}
#log {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #333;
  margin-bottom: 10px;
  padding: 10px;
}
button {
  background-color: #111;
  color: #0f0;
  border: 1px solid #0f0;
  padding: 10px;
  cursor: pointer;
}
